.addMealContainer {
  /* border: 2px solid palegreen;   */
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.addMealSelectableList {
  width: 100%;
}

.addMealFormAndDetailsContainer {
  display: flex;
}
.outerAddMealFormContainer {
  min-width: 30%;
}
.innerAddMealFormContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/******MealList.js********/
.addMealListItem {
  margin-top: 2%;
}
.listItem {
  box-shadow: 4px -1px 4px #aaaaaa;
}
/************************/
.addMealRaisedButton {
  margin-top: 3%;
  margin-bottom: 2%;
  align-self: flex-end;
}
/******Search and Chips********/
.searchAndChipsContainer {
  /* border: 2px solid red;      */
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-top: -7%;
}
/******Show details********/
.detailsContainer {
  flex: 2;
}

/*Divider*/
.verticalDivider {
  border-right: 2px solid #d0d9db;
  margin-left: 4%;
  margin-right: 4%;
}

@media screen and (max-width: 800px) {
  .addMealFormAndDetailsContainer {
    flex-direction: column;
  }
  .searchAndChipsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: -1%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1600px) {
  .smallStatistic {
    width: 100%;
  }
  .smallStatisticContainer .statisticIcons {
    display: flex;
    padding-right: 7%;
  }

  .addMealAutocomplete hr {
    width: 90% !important;
  }
}
