.addMealContainer {
  /* border: 2px solid palegreen;   */
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.addMealSelectableList {
  width: 100%;
}

.addMealFormAndDetailsContainer {
  /* border: 2px solid red;      */
  display: flex;
}
.outerAddMealFormContainer {
  min-width: 30%;
}
.innerAddMealFormContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/******MealList.js********/

.listItem {
  box-shadow: 5px 0 4px #aaaaaa;
}
/************************/
.addMealRaisedButton {
  margin-top: 3%;
  align-self: flex-end;
}
/******Search and Chips********/
.searchAndChipsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-top: -7%;
}
/******Show details********/
.detailsContainer {
  flex: 2;
}

/*Divider*/
.verticalDivider {
  border-right: 2px solid #d0d9db;
  margin-left: 4%;
  margin-right: 4%;
}
