/*ADD MEAL*/
.addMealContainer {
  /* border: 2px solid palegreen;   */
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.addMealSelectableList {
  width: 100%;
}

.addMealFormAndDetailsContainer {
  /* border: 2px solid red;      */
  display: flex;
}
.outerAddMealFormContainer {
  border-right: 2px solid #d0d9db;
  padding-right: 5%;
}
.innerAddMealFormContainer {
  /* border: 2px solid blueviolet;      */
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.innerAddMealFormContainer .addMealRaisedButton {
  margin-top: 1%;
  align-self: flex-end;
}
.searchAndChipsContainer {
  display: flex;
  flex-direction: column;
  width: 72%;
}
.addMealAutocomplete {
  margin-bottom: 5%;
}
/*SHOW DETAILS*/
.detailsContainer {
  flex: 2;
}
