.preferencesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.preferencesKcalContainer {
  border-bottom: 2px solid #d0d9db;
  margin-bottom: 3%;
  padding-bottom: 3%;
  min-width: 100%;
}

.preferencesAndAddButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preferencesAddButton {
  /* border: 2px solid orange;          */
  margin-top: 2%;
  margin-bottom: 2%;
}
.preferencesButtons {
  display: flex;
}
.preferencesButtons > div {
  margin-right: 0.5%;
}
/*******Fields**********/
.fieldsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
