 .preferencesContainer {
        /* border: 2px solid blue;         */
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 0 3% 3% 3%;
     justify-content: flex-start; 
}
/*renderTextField*/
.textFieldLabel label {
    margin-right: 10px;
}
.textFieldContainer {
     /* border: 2px solid pink;      */
    display: flex;
    margin-bottom: 2%;
    align-items: baseline;
    flex-flow: row wrap;
}
/*********************/
/*renderFieldArray */
.fieldsContainer {
      /* border: 2px solid yellow;           */
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.fieldsAndButtonContainer {
    /* border: 2px solid green;          */
    display: flex;
    flex-direction: column;
}
.button {
     margin-top: 2%; 
     margin-bottom: 2%; 
} 


/*********************/
/*chips*/
.chipContainer {
    border: 2px solid #77C0D9;
    border-style: ridge; 
    border-radius: 4px;           
    display: flex;
    flex-flow: column wrap;
    width: 100%; 
}

.chipName, .chipTime {
    position: relative;
    display: flex;
    flex-flow: row wrap;  
    align-items: baseline; 
    margin-left: 5px; 
}

.chipName h3, .chipTime h3{ 
    margin-right: 5px;  
}
.chipButton {
    margin-top: -40px;
    align-self: flex-end;
}
.chipTime h3 {
    margin-right: 57px;
}
.chip {
    margin-right: 10px;
}
/*********************/