 .preferencesContainer {
     /* border: 2px solid blue;      */
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 0 3% 3% 3%;
}
/*renderTextField*/
.textFieldLabel label {
    margin-right: 10px;
}
.textFieldContainer {
     /* border: 2px solid pink;      */
    display: flex;
    margin-bottom: 2%;
    align-items: baseline;
    flex-flow: row wrap;
}
/*********************/
/*renderFieldArray */
.fieldsContainer {
     /* border: 2px solid yellow;          */
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.fieldsAndButtonContainer {
    /* border: 2px solid green;          */
    display: flex;
    flex-direction: column;
}
.button {
    margin-top: 1%;
} 


/*********************/
/*chips*/
.chipContainer {
    display: flex;
    flex-direction: column;
}

.chipName, .chipTime {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-right: 10px;
}

.chipName h3, .chipTime h3{ 
    margin-right: 2%;
}
/*********************/