.preferencesContainer {
    /* border: 2px solid orange;         */
  display: flex;
  flex-direction: column;
  width: 100%;

}
.preferencesKcalContainer { 
  border-bottom: 2px solid #D0D9DB;
  margin-bottom: 3%; 
  padding-bottom: 3%;
  min-width: 100%;
}

.preferencesAndAddButtonContainer {
  display: flex;
  flex-direction: column;
}
 .preferencesAddButton {
  margin-top: 2%;
  margin-bottom: 2%;
}  

.preferenesReturnButton {
  align-self: center;
}

/*******Fields**********/
  .fieldsContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  /* padding-left: 10%; */
}