.preferencesContainer {
  /* border: 2px solid orange;            */
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 3% 3% 3%;
  justify-content: flex-start;
}
.preferencesKcalContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.preferencesKcalContainer h3 {
  margin-right: 10px;
}

/*renderTextField*/
.textFieldLabel label {
  margin-right: 10px;
}
.textFieldContainer {
  /* border: 2px solid orange;             */
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.textFieldLabel {
  flex: 1 0 120px;
  max-width: 80px;
}
.textField {
  flex: 1 0 220px;
}
/*********************/
/*renderFieldArray */
.fieldsContainer {
  /* border: 2px solid yellow;             */
  display: flex;
  flex-flow: row wrap;
  max-width: 120%;
  justify-content: flex-start;
}
.fieldsAndButtonContainer {
  display: flex;
  flex-direction: column;
}
.button {
  /* border: 2px solid green;            */
  margin-top: 2%;
  margin-bottom: 2%;
}

/*********************/
/*chips*/
.Chip {
  min-width: 200px;
  display: flex;
}
.Chip span {
  flex: 2;
  display: flex;
  justify-content: center;
}
.chipContainer {
  border: 2px solid rgba(103, 205, 230, .7);
  background-color: rgba(103, 205, 230, .06);
  border-style: ridge;
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
}
.chip {
  margin-right: 10px;
  margin-bottom: 10px;
}
.chipName,
.chipTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 2px;
}
.chipTime h3 {
  margin-right: 57px;
}
.chipButton {
  margin-top: -25px;
  align-self: flex-end;
}
/*********************/
