.summary {
  display: flex;
}
.smallStatistic {
  margin-right: 3%;
  min-width: 35%;
  /* width: 100%; */
}
.bigStatistic {
  display: flex;
  flex-direction: column;
}

/*Daily summary information*/
.information {
  font-size: 18px;
}
.kcalEatenContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.kcalEatenContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.kcalEatenContainer h3 {
  font-size: 28px;
  text-shadow: 1px 0px grey;
  margin-bottom: 5%;
}

/*Details list*/
.chartDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.chartDetailsMealName {
  font-size: 18px;
  text-shadow: 1px 0px grey;
}

.chartDetails li {
  margin-top: 12%;
  display: flex;
  min-width: 150px;
  justify-content: space-between;
}
.chartDetails li h3 {
  font-size: 17px;
  text-shadow: 0px 0px grey;
  margin-right: 15%;
}

.chartDetails li div {
  align-self: flex-end;
}

@media screen and (min-width: 801px) and (max-width: 1600px) {
  .summary {
    display: flex;
    flex-direction: column;
  }
  .bigStatisticContainer {
    min-width: 100%;
  }
}
