.summary {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.summary h2 {
  font-size: 20px;
  margin-bottom: 8%;
}
.summary div {
  margin-bottom: 3%;
}

/*Daily summary information*/
.information {
  font-size: 18px;
}
.kcalEaten {
  /* border: 2px solid red;  */
  display: flex;
  flex-direction: column;
  width: 120%;
}
.kcalEaten p {
  margin-bottom: 4%;
}

.kcal {
  font-weight: bold;
  margin-left: 5%;
}

/*Chart and details*/
.chartAndDetailsContainer {
  /* border: 2px solid red;  */
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/*Details list*/
.chartDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.chartDetailsMealName {
  font-size: 18px;
  text-shadow: 1px 0px grey;
}

.chartDetails li {
  /* border: 2px solid red; */
  margin-top: 12%;
  display: flex;
  min-width: 150px;
  justify-content: space-between;
}
.chartDetails li h3 {
  font-size: 17px;
  text-shadow: 0px 0px grey;
  margin-right: 15%;
}

.chartDetails li div {
  align-self: flex-end;
}
