.card {
  border: 1px ridge #bcc2c4;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 0 1px #989b9c;
  margin-bottom: 3%;
  align-items: center;
}

.title_statistic {
  background-color: #dbdbdb;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  align-self: stretch;
}
.title_statistic .title {
  font-size: 18px;
  color: #434b54;
  padding-left: 0.2em;
  align-self: center;
}
.statisticIcons {
  display: flex;
}

.smallStatisticContainer .body {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}

.card .footer {
  display: flex;
  align-self: center;
  margin-bottom: -0.7em;
  margin-top: 1%;
}

.smallStatisticContainer .statisticIcons {
  padding-left: 3%;
}
.bigStatisticContainer {
  min-width: 125%;
}
