.statisticContainer {
  border: 1px ridge #bcc2c4;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 0 1px #989b9c;
}

.statisticContainer .title_statistic {
  background-color: #dbdbdb;
  /* border-radius: 0.25em 0.25em 0 0; */
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  border-bottom: 1px solid #d1d1d1;
}
.title_statistic .title {
  font-size: 18px;
  color: #434b54;
  padding-left: 0.2em;
  margin-right: 8%;
  align-self: center;
}
.statisticIcons {
  display: flex;
  width: 28%;
  justify-content: flex-start;
}
.statisticIcons {
  margin-left: 1% !important;
}
/* .statisticIcons svg {
  border:2px solid red;
  width: 10px;
} */

.statisticContainer .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statisticContainer .body div {
  align-self: center;
}

.statisticContainer .footer {
  display: flex;
  align-self: center;
  margin-bottom: -0.7em;
  margin-top: -1em;
}
