.staticticContainer {
  border-radius: 0.5em;
  border-bottom: 2px solid rgb(107, 178, 188);
  border-right: 2px solid rgb(107, 178, 188);
  border-left: 2px solid rgb(107, 178, 188);
  background-color: rgba(103, 205, 230, .06);
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

.staticticContainer div {
  box-sizing: inherit;
  /* border: 2px solid red; */
}
.staticticContainer .header {
  align-self: stretch;
  background-color: rgb(182, 217, 222);
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 2px solid rgb(107, 178, 188);
  border-top: 2px solid rgb(107, 178, 188);
  margin-top: -0.01em;
  display: flex;
  align-items: baseline;
}
.staticticContainer .header h3 {
  font-size: 20px;
  color: grey;
  padding-left: 0.5em;
  align-self: center;
  /* border: 2px solid red; */
}
.staticticContainer .header .statisticIcons {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  position: relative;
}

/* .statisticIcons svg {
  border:2px solid red;
  width: 10px;
} */

.staticticContainer .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staticticContainer .body div {
  align-self: center;
}

.staticticContainer .footer {
  display: flex;
  align-self: center;
  margin-bottom: -0.7em;
  margin-top: -1em;
}
