.addFoodContainer {
    /* border: 2px solid orangered;   */
     width: 35%;
     display: flex; 
    flex-direction: column;  
     margin-left: 1%; 
}
.addFoodContainer div {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    align-items: center;
}
.buttons {
    display: flex;
    align-self: flex-end;
}
.button1, .button2 {
    margin-top: 28px;
    margin-right: 10px;
}