.addFoodContainer {
  /* border: 2px solid blue;       */
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.addFoodFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.addFoodFormContainer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addFoodField {
  margin-bottom: 4%;
}
.addFoodButtons {
  display: flex;
  margin-top: 5%;
}
.addFoodReturnButton {
  margin-right: 40%;
  /* border: 2px solid orangered;       */
}
.addFoodLinearProgress {
  margin-top: 45%;
}
