.list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.beerContainer {
  border: 2px solid transparent;
  align-content: center;
  width: 250px;
  height: 300px;
  min-width: 100px;
  margin-right: 5%;
}

.listElement {
  background-color: white;
  box-shadow: 0 0 1px #d2cdcd;
  border-radius: 2px;
  margin: 0 2% 2% 2%;
  padding: 8% 5% 10% 5%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.beerNamesContainer {
  margin-bottom: -5%;
  margin-top: 5%;
  width: 100%;
}
.beerName {
  color: rgba(242, 172, 6, 0.94);
  font-weight: bold;
  font-size: 18px;
}
.beerTagline {
  color: #bfb7b7;
}
.beerName,
.beerTagline {
  margin: 0;
  text-align: center;
}
.listElement img {
  width: auto;
  height: 70%;
}
.listElement:hover {
  box-shadow: 0 0 10px #868181;
  width: 250px;
  height: 270px;
  margin-top: -2%;
}
.loader {
  display: flex;
  justify-content: center;
}
