.editFoodParentContainer {
    /* border: 2px solid orangered;  */
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    flex-flow: row wrap;
}

.search {
    flex: 1;
    /* margin-right: 10px; */
}
.food, .img {
    flex: 2;
}
.img {
    align-self: center;
    margin-left: 15px;
}
img {
    max-width: 300px;  
    min-width: 200px;
    width: 100%;
}
.raisedButton {
    margin-top: 22px;
}