.editFoodParentContainer {
    /* border: 2px solid orangered;  */
    display: flex;
    flex-flow: row wrap;
}

.search {
    flex: 1;
    margin-right: 15px;
}
.food {
    margin-left: 15px;
    flex: 2;
}
.img {
    flex: 2;
    display: flex;
    justify-content: center;
}
img {
    align-self: center;
    max-width: 300px;
    margin-left: 15px;
}
.raisedButton {
    margin-top: 22px;
}