.editFoodParentContainer {
    /* border: 2px solid orangered;  */
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    flex-flow: row wrap;
}
.search, .food, .img {
    /* border: 2px solid orange;  */
    flex: 1;
}
img {
    max-width: 600px;  
    min-width: 400px;
    width: 100%
}

.raisedButton {
    margin-top: 22px;
}

/* editFoodChanges*/

 .editFoodForm {
    display: flex;
    flex-direction: column;
}
 .editFoodForm h2 {
    margin-top: 15px;  
    margin-bottom: -5px;
    font-size: 17px;
    text-shadow: 0px 0px black;   

}   