.editFoodFormContainer {
  /* border: 2px solid red; */
  width: 75%;
  display: flex;
  flex-flow: column wrap;
}

.editFoodFormContainer div {
  display: flex;
}

.editFoodRaisedButton {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}