.editFoodAndImgContainer {
  /* border: 2px solid green;              */
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.searchAndFormContainer {
  /* border: 2px solid greenyellow;         */
  display: flex;
  flex-direction: column;
  flex: 2;
}

.search {
  margin-bottom: 2%;
}

.imgAndButtonsContainer {
  /* border: 2px solid blue;         */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editFoodButtonsContainer {
  margin-top: 3%;
}
.editFoodButtons {
  display: flex;
}

img {
  border-radius: 4px;
  box-shadow: 0px 0px 10px darkgray;
}
