 .appContainer {
      width: 100%; 
     /* border: 2px solid red; */
}
.routerContainer {
    position: relative;
    /* border: 2px solid yellowgreen; */
}
.MainContainer {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.MainContainer label, .MainContainer searchAutoComplete {
    flex: 1;
}
/* 
.MainContainer .searchAutoComplete {
    flex: 1;
} */
