 .appContainer {
      width: 100%; 
      /* border: 2px solid red;   */
}
.mainContainer {
     /* border: 2px solid blue;  */
    display: flex;
    flex-direction: column;
    align-items: left;
    width:52%;
    margin-left: auto;
    margin-right: auto;
}
.mainContainer label, .mainContainer searchAutoComplete {
    flex: 1;
}


