/* chip */
.chip {
  min-width: 150px;
  display: flex;
}
.chip span {
  flex: 2;
  display: flex;
  justify-content: center;
}

.chipContentContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.chipContentContainer div {
  margin-right: 5%;
}
.chipItem {
  margin-bottom: 10px;
  margin-right: 1%;
}
.chip-quantity {
  display: flex;
}

/* form */
.eachFormContainer {
  border: 2px solid rgba(103, 205, 230, .7);
  background-color: rgba(103, 205, 230, .06);
  border-style: ridge;
  border-radius: 4px;
  max-width: 230px;
  min-width: 210px;
  display: flex;
  flex-flow: column wrap;
}
.formContentContainer {
  display: flex;
  justify-content: space-around;
}
.form-name-time,
.form-name-quantity {
  margin-left: 2%;
}
.form-name-time div div {
  width: 108px !important;
}
.form-quantity {
  margin-left: 4%;
}
.form-quantity div div {
  width: 50px !important;
}
.eachFormContainer .icons {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: -5%;
}
.form-timePicker .importantChange {
  /* border: 2px solid red; */
  width: 60px !important;
}
.addMealAutocomplete div div {
  width: 234px !important;
}
