.dateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dayPicker input {
  font-size: 20px;
}
.dayPicker hr {
  display: none;
}
.date {
  font-size: 20px;
}
.iconAndDateContainer {
  /* border: 2px solid red;  */
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 8%;
}
