.dateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.datePicker input {
  font-size: 20px;
}
.datePicker hr {
  display: none;
}
.iconAndDateContainer {
  display: flex;
  align-items: center;
  width: 17%;
  margin-bottom: 60px;
}
