.dateContainer {
  display: flex;
  width: 100%;
}
.datePicker input {
  font-size: 20px;
}
.datePicker hr {
  display: none;
}
.iconAndDateContainer {
  display: flex;
  width: 17%;
}
.datePicker button input {
  cursor: pointer !important;
}
.datePicker button {
  background-color: #f0f4f5;
  border: none;
}
